@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

.default-font {
  font-family: sans-serif;
}

.f-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.f-lato {
  font-family: 'Lato', sans-serif;
}

.f- {
  font-family: '', sans-serif;
}

button {
  padding: 2em 4em;
  margin: 1em;
  color: white;
  background-color: #034321;
}
